body, html {
	margin: 0;
	padding: 0;
}
body {
	background: url(../../res/img/normandy.jpg) 0px 15px no-repeat;
}
.normandy {
	background: rgba(0,0,0,0.3);
	width: 925px;
	height: 387px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.normandy .main-body {
	background: rgba(255,255,255,1);
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	padding: 0;
	margin: 0;
	border-radius: 50%;

	-webkit-transform: scale(1, 0.28);
	transform: scale(1, 1);
}
.normandy .main-body:after {
	
}